 body { margin:0px; padding:0px; }
    #map { position:absolute; width:100%; height:100%; top:0px; left:0px; }
    html, body, h1, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
	}

body {
	background: #ffffff;
	color: #111111;
	 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: lighter;
	padding: 20px;
	font-size: 30px;
	}

	
	form#payment {
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;
		counter-reset: fieldsets;
		padding: 10px;
	
		}
		
		form#payment fieldset {
			border: none;
			}
		
				form#payment > fieldset > legend:before {
					content: "Step " counter(fieldsets) ": ";
					counter-increment: fieldsets;
					}
				
			form#payment ol li {
				
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-khtml-border-radius: 5px;
				border-radius: 5px;
		
				list-style: none;
				}
							
				form#payment ol ol li {
					background: none;
					border: none;
					float: left;
					}
			
				form#payment fieldset fieldset label:hover {
					cursor: pointer;
					}
				
			form#payment input:not([type=radio]),
			form#payment textarea {
				background: lightgrey;
				border-style:solid;
				border-width: 1px;
				border-color: grey
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				-khtml-border-radius: 3px;
				border-radius: 3px;
				outline: none;
				padding: 9px;
				width: 137px;
				padding-left: 20px
				}
					
				form#payment input:not([type=submit]):focus,
				form#payment textarea:focus {
					background: #eaeaea;
					}
					
				form#payment input[type=radio] {
					float: left;
					
					}
						
			form#payment button {

				border: none;
				-moz-border-radius: 20px;
				-webkit-border-radius: 20px;
				-khtml-border-radius: 20px;
				border-radius: 20px;
				color: white;
				display: block;
				letter-spacing: 3px;
				margin: auto;
				padding: 3px 12px;
				text-shadow: 0 1px 1px black;
				text-transform: uppercase;
				cursor:pointer;

				}
				


				#location{
					display: none;
				}

				ul li:nth-child(4) {  
				  display: none !important;
				}
				#url{
					display: none;
				}

				ul li:nth-child(5) {  
				  display: none !important;
				}

		#geolocate {
		position: absolute;
		left: 0px;
		top: 10px;
		margin-left: 10px;
		margin-top: 55px;
		padding: 5px;
		background: rgba(0, 0, 0, 0.25);
		border-radius: 7px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		color: rgba(255, 255, 255, 1);
		z-index: 100;
		}
      #geolocate a {
        background-color: rgba(255, 255, 255, 0.75);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: block;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        width: 19px;
        height: 19px;
      }
      #geolocate a:hover {
        background-color: #fff;
      }
      #geolocate img{
      	position: relative !important;
		left: 2px !important;
		top: 2px !important;
      }
      header{
      	z-index: 1001;
      	position: absolute;
      	left: 50px;
      
      	font-family: helvetica;
      	font-size: 20px;
      }
@media (max-device-width: 769px) {
	#header {
	display: none; 
	}
	#social {
	display:none;
	}
	.geolocation {
        position: absolute;
        right: 20px;
        top: 0;
        margin-left: 17px;
        margin-top: 83px;
        padding: 5px;
        background: rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        color: rgba(255, 255, 255, 1);
        z-index: 100;
      }
      .geolocation a {
        background-color: rgba(255, 255, 255, 0.75);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: block;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        width: 19px;
        height: 19px;
      }
      .geolocation a:hover {
        background-color: #fff;
      }
      .geolocation img{
      	position: relative !important;
		left: 2px !important;
		top: 2px !important;
      }

.leaflet-control-geocoder-form{
	display: none !important;
}

}

.leaflet-popup-content-wrapper {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
.leaflet-popup-content {
display: inline-block;
width: 200px !important;
max-height: 2000px !important;
margin: 1px;
}

.leaflet-popup-close-button {
	padding:8px;
}

form#payment ol li{
	line-height: 0px;
}



ol{
	position: relative;
}

#notes{
	font-family: helvetica;
	font-weight:lighter;
	font-size:1em;
}

#email{
	float: right;
	position: relative;
	left:-18px;
	z-index: 1000;
}

.texttoggle{
	float: right;
	position: relative;
	left:-9px;
	z-index: 1000
}

.texttoggle img{
	position: relative;
	top:15px;
}

#twitter{
	float:right;
	position: relative;
	left: -23px;
	z-index: 1000;
}

#popupStuff p {
	text-align: center;
	margin-bottom:-15px;
	text-decoration: none;
}

#popupStuff a {
	text-decoration: none;
}

.leaflet-container a.leaflet-popup-close-button{
	z-index: 10001;
}

.leaflet-control-attribution a {
	text-decoration: none;

}

.leaflet-control-attribution {
	font-size: 9px !important;
}

.leaflet-popup{
	opacity: .90 !important;
	 /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)" !important;

  /* IE 5-7 */
  filter: alpha(opacity=90) !important;

  /* Netscape */
  -moz-opacity: 0.90 !important;

  /* Safari 1.x */
  -khtml-opacity: 0.90 !important;

  /* Good browsers */
  opacity: 0.90 !important;
}

ol li:nth-child(2)  {
		padding:2px;
				}

ol li:nth-child(1) {
		padding:2px;
				}
#panel {
	
	position: relative;
    display: none;
    width: 100%;
    border-top-color:grey;
    opacity: .8;
    border-style:line;
    border-top:grey;
    border-width: 1px
}