.leaflet-control-geocoder a {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}



.leaflet-control-geocoder a {
	background-image: url(images/geocoder.png);
	width: 36px;
	height: 70px;
}

#mytext{
	left: 25px;
	top: 6px;
	position: relative;
	height:15px;
	border-radius: 6px;
	opacity: .75;
}

.leaflet-touch .leaflet-control-geocoder a {
	width: 44px;
	height: 44px;
}

.leaflet-control-geocoder .leaflet-control-geocoder-form,
.leaflet-control-geocoder-expanded .leaflet-control-geocoder-toggle {
	display: none;
}

.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
	display: block;
	position: relative;
}

.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
	padding: 4px;
	padding-left: 0px;

}
.leaflet-right .leaflet-control {
	margin-right: 0px !important;
}

#mybutton{
	opacity: 0
}