 body { margin:0px; padding:0px; }
    #map { position:absolute; width:100%; height:100%; top:0px; left:0px; }
    html, body, h1, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
	}

body {
	background: #ffffff;
	color: #111111;
	font-family: Helvetica;
	font-weight: lighter;
	padding: 20px;
	font-size: 30px;
	}

	h1 {

		margin-bottom: 20px;
		}
	
	form#payment {
		background: rgb(72, 164, 207);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;
		counter-reset: fieldsets;
		padding: 10px;
		width: 115px;
		}
		
		form#payment fieldset {
			border: none;
			margin-bottom: 10px;
			}
		
		form#payment fieldset:last-of-type {
			margin-bottom: 0;
			}
			
			form#payment legend {
				color: #384313;
			
				font-weight: bold;
				padding-bottom: -5px;
				text-shadow: 0 1px 1px #c0d576;
				}
				
				form#payment > fieldset > legend:before {
					content: "Step " counter(fieldsets) ": ";
					counter-increment: fieldsets;
					}
				
				form#payment fieldset fieldset legend {
					color: #111111;
					font-size: 13px;
					font-weight: normal;
					padding-bottom: 0;
					}
			
			form#payment ol li {
				background: #b9cf6a;
				background: rgba(255,255,255,.3);
				border-color: #e3ebc3;
				border-color: rgba(255,255,255,.6);
				border-style: solid;
				border-width: 2px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-khtml-border-radius: 5px;
				border-radius: 5px;
				line-height: 30px;
				list-style: none;
				padding: 2px 2px;
				margin-bottom: 2px;
		
				}
							
				form#payment ol ol li {
					background: none;
					border: none;
					float: left;
					}
			
			form#payment label {
				float: left;
				font-size: 13px;
				width: 110px;
				}
				
			form#payment fieldset fieldset label {
				background:none no-repeat left 50%;
				line-height: 20px;
				padding: 0 0 0 30px;
				width: auto;
				}
					
				form#payment label[for=visa] {
					background-image: url(visa.gif);
					}
				form#payment label[for=amex] {
					background-image: url(amex.gif);
					}
				form#payment label[for=mastercard] {
					background-image: url(mastercard.gif);
					}
					
				form#payment fieldset fieldset label:hover {
					cursor: pointer;
					}
				
			form#payment input:not([type=radio]),
			form#payment textarea {
				background: #ffffff;
				border: none;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				-khtml-border-radius: 3px;
				border-radius: 3px;
			
				outline: none;
				padding: 5px;
				width: 100px;
				padding-left: 2px
				}
					
				form#payment input:not([type=submit]):focus,
				form#payment textarea:focus {
					background: #eaeaea;
					}
					
				form#payment input[type=radio] {
					float: left;
					margin-right: 5px;
					}
						
			form#payment button {
				background: #384313;
				border: none;
				-moz-border-radius: 20px;
				-webkit-border-radius: 20px;
				-khtml-border-radius: 20px;
				border-radius: 20px;
				color: white;
				display: block;
				letter-spacing: 3px;
				margin: auto;
				padding: 3px 12px;
				text-shadow: 0 1px 1px black;
				text-transform: uppercase;

				}
					
				form#payment button:hover {
					background: #1e2506;
					cursor: pointer;
					}

				#location{
					display: none;
				}

				ul li:nth-child(4) {  
				  display: none !important;
				}
				#url{
					display: none;
				}

				ul li:nth-child(5) {  
				  display: none !important;
				}

		#geolocate {
		position: absolute;
		left: 0px;
		top: 10px;
		margin-left: 10px;
		margin-top: 55px;
		padding: 5px;
		background: rgba(0, 0, 0, 0.25);
		border-radius: 7px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		color: rgba(255, 255, 255, 1);
		z-index: 100;
		}
      #geolocate a {
        background-color: rgba(255, 255, 255, 0.75);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: block;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        width: 19px;
        height: 19px;
      }
      #geolocate a:hover {
        background-color: #fff;
      }
      #geolocate img{
      	position: relative !important;
		left: 2px !important;
		top: 2px !important;
      }
      header{
      	z-index: 1001;
      	position: absolute;
      	left: 50px;
      	top: 10px;
      	font-family: helvetica;
      	font-size: 20px;
      }
@media (max-device-width: 769px) {
	#header {
	display: none; 
	}
	#social {
	display:none;
	}
	.geolocation {
        position: absolute;
        right: 20px;
        top: 0;
        margin-left: 17px;
        margin-top: 83px;
        padding: 5px;
        background: rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        color: rgba(255, 255, 255, 1);
        z-index: 100;
      }
      .geolocation a {
        background-color: rgba(255, 255, 255, 0.75);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: block;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        width: 19px;
        height: 19px;
      }
      .geolocation a:hover {
        background-color: #fff;
      }
      .geolocation img{
      	position: relative !important;
		left: 2px !important;
		top: 2px !important;
      }

.leaflet-control-geocoder-form{
	display: none !important;
}

}

.leaflet-popup-content-wrapper {
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}
.leaflet-popup-content {
margin: 1px 1px;
}

.leaflet-popup-close-button {
	padding:8px;
}

form#payment ol li{
	line-height: 0px;
}

form#payment input:not([type="radio"]){
	height: 15px;
}

ol{
	position: relative;
	left:-1px;
}

#notes{
	font-family: helvetica;
	font-weight:lighter;
	font-size:1em;
}