html,
body {
    height:100%;
    font-size:12px;
    width:100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top:0px;

}

#page,#content {
	padding: 0px;
	margin: 0px;
}

.ui-content{
    padding: 0px
}

#geolocate{
    z-index: 100;
}

.leaflet-container a {
    text-decoration: none;
}

.leaflet-popup-content-wrapper {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

#geolocate{
top: 4px;
left: 3px
}

.ui-page {
    -webkit-backface-visibility: hidden;
}

.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page {
    overflow: visible;
}


.ui-page {
    -webkit-backface-visibility: hidden;
}

.ui-content{
    padding: 0px
}

.leaflet-container a {
    text-decoration: none;
}

.ui-input-search {
    z-index: 100;
}

.leaflet-popup-content {
    margin:13px;
}